:root {
}

* {
  box-sizing: border-box;
}

main {
  background-color: #efefef;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.user-card {
  display: flex;
  gap: 6.6%;
  background-color: #ffffff;
  padding: 20px;
  margin: 15px;
  flex-basis: 400px;
  flex-grow: 1;
  max-width: 600px;
}

.image-wrapper {
  max-width: 150px;
  max-height: 150px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 3px 4px grey;
  border: 4px solid #ffffff;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-wrapper {
  width: 67%;
}

.user-name {
}

.user-name strong {
  font-weight: bold;
}

.user-job {
}

.user-address {
}

.button-section {
}

.follow-btn {
}

.message-btn {
}

.social-links {
  display: flex;
  gap: 10px;
  color: #fc6427;
}

.social-link {
}
