@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --back-color: #efefef;
  --main-color-light: #ffffff;
  --main-color-dark: #017afa;
  --border-color: #808080;
  --sub-color-light: #fc6427;
  --sub-color-dark: #429dff;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Segoe UI", "Noto Sans", sans-serif; /* Чому-сь саме цей шрифт (Segoe UI) здався найбільш схожим на той, що наведено у макеті */
  line-height: 1.5;
}

main {
  display: flex;
  align-items: stretch; /* Хоча й стоїть за замовчуванням, додав, щоб показати, що відповідає за однаковий розмір карток */
  align-content: flex-start;
  justify-content: center;
  flex-wrap: wrap; /* Перенесення на новий рядок при нестачі місця */
  min-height: 100vh;
  background-color: var(--back-color);
}

.user-card {
  display: flex;
  flex-basis: 500px;
  flex-grow: 1;
  gap: 6.6%;
  max-width: 600px; /* Обмежена максимальна ширина карток для flex-grow */
  min-width: 400px; /* Обмежена мінімальна ширина карток для flex-shrink */
  padding: 20px;
  margin: 15px;
  background-color: var(--main-color-light);
}

.image-wrapper {
  min-width: 150px;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border: 4px solid var(--main-color-light);
  border-radius: 50%;
  box-shadow: 0 3px 4px var(--border-color);
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  width: 67%;
}

.user-name {
  font-size: 1.5rem;
}

.user-name strong {
  font-weight: bold; /* Можна виключити strong с reset.css, але вже як є */
}

.user-address {
  margin-bottom: 15px;
}

.button-section {
  display: flex;
  gap: 5px;
  margin-top: auto; /* Забезпечення однакової висоти основних елементів карток */
}

.follow-btn,
.message-btn {
  padding: 0.625rem 0.9375rem;
  font-size: 1.1rem;
  font-family: inherit;
  text-decoration: none;
  color: var(--main-color-light);
  background-color: var(--main-color-dark);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.follow-btn:hover,
.message-btn:hover {
  background-color: var(--sub-color-dark);
}

.social-links {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  color: var(--sub-color-light);
}

.social-link {
  font-size: 0.875rem;
}
